*{
    margin:0px;
    padding:0px;
}
.header{
    height:5vh;
}
.content{
    height:85vh;
}
.footer{
    height:5vh;
}
.logout{
    float: right;
}
.link{
    color:black;
    font-size: 32px;
    text-decoration:none;
}
.style{
    color:white:
}
.padding{
    padding-left: 150px;
    font-size: 25px;
}
.header_style{
    text-align: center;
    padding-top:31px;
}
.table-style{
    margin-left: 600px;
    border-spacing: 15px;
}
.spacing{
    padding:10px;
}
.button{
    margin-left:115px;
    
}
.navbar-default .navbar-nav>li>a {
    color: #f9f9f9;
}
.navbar-nav{
    width:100%;
}
